@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Define a new utility class for a semi-transparent placeholder */
  .placeholder-semi-transparent::placeholder {
    /* Using gray-500 color (rgba(107, 114, 128)) with 60% opacity (0.6) */
    color: rgba(107, 114, 128, 0.6);
  }
}

body::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

/* Scrollbar Track (the empty space the thumb moves in) */
body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey track */
  border-radius: 10px;
}

/* Scrollbar Thumb (the movable part) */
body::-webkit-scrollbar-thumb {
  background-color: #1d4ed8; /* Use the blue-700 color */
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar Thumb on hover (optional, for visual feedback) */
body::-webkit-scrollbar-thumb:hover {
  background-color: #1e40af; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1d4ed8 #f1f1f1;
}

/* Hide scrollbar for Chrome, Edge, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge Legacy */
.no-scrollbar {
  -ms-overflow-style: none;
}
